    <footer role="contentinfo" class="no-gutters">
      <div class="row-no-gutters">
        <div class="col-md-12">
          <div>
            <div id="block-information">
              <p>
                Oregon State University CS290 <br> 1500 SW Jefferson Way <br> Corvallis, OR 97331 <br> 541-368-8661
              </p>
              <a href="http://web.engr.oregonstate.edu/~hessro/teaching/cs290-f19">Course Website</a>
              <p>Copyright ©2019 Oregon State University</p>
              <p>&nbsp;</p>
            </div>
          </div>
        </div>
      </div>
    </footer>