body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}


header {
  width: 100%;
  float:left;
  text-align: center;
}


header img{
  max-width: 50%;

}


.filter-container{
  text-align:center;
}


.filter-container img{
  max-width: 3%;
}


.filter-input-container{
  display: inline-block;
  margin: 10px;
}


.filter-input-label {
    display: inline-block;
}


.filter-input-element {
    display: inline-block;
}

/*
section{
  text-align:center;
}
*/


#people-card{
  text-align: center;
}


.card {
  display: inline-block;
  height: 300px;
  width: 370px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 3px;

}

.card-image-container {
  vertical-align: top;
  display: inline-block;
}

.card-image-container img {
  margin-left: 10px;
  margin-top: 10px;
  max-height: 300px;
  max-width: 200px;
}

.card-info-container span{
  word-wrap: break-word;
  text-align: left;
  display: flex;
}


.card-info-container{
  display: inline-block;
  margin-left: 30px;
  margin-top: 20px;
  position: absolute;
}

.card-info-container a{
  display: flex;
}

#add_people_button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 60px;
    width: 60px;
    border: none;
    font-size: 36px;
    color: red;
    background-color: white;
    cursor: pointer;
}

#add-something-modal{

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}


.modal-dialog{
/*  background-image: url("blue.jpg");*/
  background-color: #fefbd8;
  padding: 40px;
  width: 300px;
  height: 300px;
  /*
  max-width: 350px;
  min-width: 250px;
  min-height: 300px;
  */
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-body{
  padding: 20px;
}

.modal-footer{
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}
