{{> header}}

<div class="background-option">
  <div class="background-red" id = "background-red">
    <span> ● </span>
  </div>
  <div class="background-white" id = "background-white">
    <span> ● </span>
  </div>

  <div class="background-pink" id = "background-pink">
    <span> ● </span>
  </div>

  <div class="background-green" id = "background-green">
    <span> ● </span>
  </div>

  <div class="background-blue" id = "background-blue">
    <span> ● </span>
  </div>

</div>
<main class="content">
  {{#if showFilter}}
    {{> filter}}
  {{/if}}
  <section id="people-cards">
    {{#each lol}}
      {{> post}}
    {{/each}}
  </section>
</main>
{{#if showModal}}
  {{> modal}}
{{/if}}
{{> footer}}