body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}


header {
  width: 100%;
  float:left;
  text-align: center;
  background-color:white;
}

section{
  background-color: rgb(6, 215, 243);
}

header img{
  max-width: 50%;

}


.filter-container{
  text-align:center;
  background-color: rgb(6, 215, 243);
  display: block;
}

.filter-body-container{
  display:none;
}

.filter-container img{
  max-width: 3%;
  border: 1px solid black;
  border-radius: 3px;
}

.filter-container img:hover {
  cursor: pointer;
  max-width: 6%;
}

.filter-input-container{
  display: inline-block;
  margin: 10px;
}


.filter-input-label {
    display: inline-block;
}


.filter-input-element {
    display: inline-block;
}

/*
section{
  text-align:center;
}
*/
.card-name{
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-sexuality{
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-email{
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-phone-number{
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-blog{
  margin-top: 10px;
  margin-bottom: 10px;
}

#people-card{
  text-align: center;
}


.card {
  display: inline-block;
  height: 300px;
  width: 410px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(9, 245, 245);
}

.card-image-container {
  vertical-align: top;
  display: inline-block;
}

.card-image-container img {
  margin-left: 10px;
  margin-top: 10px;
  max-height: 300px;
  max-width: 200px;
}

.card-info-container span{
  word-wrap: break-word;
  text-align: left;
  display: flex;
}


.card-info-container{
  display: inline-block;
  margin-left: 30px;
  margin-top: 20px;
  position: absolute;
}

.card-info-container a{
  display: flex;
}

#add_people_button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 60px;
    width: 60px;
    border: none;
    font-size: 36px;
    color: red;
    background-color: inherit;
    cursor: pointer;
}

#add-something-modal{
/*  display: none; */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}


.modal-dialog{
  background-image: url("blue.jpg");
  background-color: #fefbd8;

  padding: 40px;
  width: 400px;
  height: 400px;
  margin: 40px auto;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: 500px 500px;

  /*  background-color: #00FFFF;*/
  /*
  width: auto;
  height: auto;
  max-width: 400px;
  min-width: 250px;
  max-height: 400px;
  min-height: 250px;
  */

}

.modal-body{
  padding: 20px;
  margin-top: -20px;
}

.modal-footer{
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

h3{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-size: 25px;
  margin-left: 20px;
}

#modal-close{
  position: absolute;
  top: 50px;
  font-size: 40px;
  border: none;
  cursor: pointer;
  background-color: inherit;
  margin-left: -30px;
  margin-top: -10px;
  color: red;
}

#modal-close:hover {
  color: red;
  transform: scale(1.5);
}

.post-input-element{
  display: flex;
  align-items: center;
  font-size: 17px;
  margin: 10px 0;
}

.post-input-option{
  display: flex;
  align-items: center;
  font-size: 17px;
  margin: 10px 0;
}

.post-input-option input{
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
}


.post-input-element > label{
  font-weight: 600;
  flex: 1 75px;
  margin-right: 1px;
}

.post-input-option{
  font-weight: 600;
  font-size: 17px;
}

.post-input-element input{
  flex: 6 200px;
  padding: 8px;
  font-size: 17px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

#post-gender{
  margin-left: 25px;
  flex: 6 200px;
  padding: 8px;
  font-size: 17px;
  border: 1px solid #aaa;
}

#modal-cancel{
  color: #333;
  background-color: #fff;
}

#modal-cancel, #modal-accept{
  margin-right: 20px;
}

.action-button{
  font-size: 15px;
  color: white;
  padding: 5px;
  background-color: #000;
  border: 1px solid #ababab;
  border-radius: 5px;
  font-weight: lighter;
  cursor: pointer;
}

#modal-accept:hover{
  color: black;
}

#modal-accept:hover, #modal-cancel:hover{
  background-color: orange;
}

.no-gutters{
  margin-left: 0;
  margin-right: 0;
}

body > footer{
  background: #252525 URL(footer.jpg)repeat-x scroll left bottom;
  min-height: 300px;
  border-top: 3px solid #d73f09;
  color: #ffffff;
}

.row-no-gutters{
  display: flex;
  flex-wrap: wrap;
}

.col-md-12{
  flex: 0 0 100%;
  max-width: 100%
}

#block-information{
  margin-left: 20px;
  margin-top: 30px;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

.hidden{
  display:none;
}
